
{% load staticfiles %}
<html>
    <head>
        <title>Technews</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    </head>
    <body>
    <div class="page-heder">
        <h1><a href="/">Technews</a></h1>
		<h2><a href="/articles/all">Artykuły</a></h2>
		<h2><a href="/admin">Logowanie</a></h2>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
				<h2>Witamy na stronie Technews. Tu zobaczysz najnowsze newsy ze świata IT.
            {% endblock %}
            </div>
			</div>
    </div>
	<div class="footer">
				2016 &copy; Kuba Ogonowski
			</div>
</body>

</html>